@page "/Notifications"
@inject ApplicationDbContext dbContext
<form method="post" asp-controller="Account" asp-action="UpdateDetailsInfo" enctype="multipart/form-data">
    <section id="account-details">
        <div class="container mt-5">
            <div class="main-info">
                <div class="images">
                    @if (user != null)
                    {
                        var imagePath = !string.IsNullOrEmpty(@user.ProfilePicture) ? user.ProfilePicture : "~/Images/ProfileImage/default-profile-image.jpg";
                        <img id="profileImg" class="profile-img" src="@imagePath" style="max-width: 130px; border-radius: 50%; overflow: hidden;" alt="@($"{@user.FirstName} {user.LastName}")" />
                    }
                    <img class="refresh-icon" src="~/images/icons/refresh-icon.svg" alt="Upload Photo" id="uploadImage" style="cursor: pointer;">
                    <input id="fileInput" asp-for="ProfileImage" type="file" class="form-control" style="display: none;">
                    <img id="myImg" style="max-width: 130px; border-radius: 50%; overflow: hidden;" />
                </div>
                <h5>@user.FirstName @user.LastName</h5>
                <p>@user.Email</p>
                <div class="buttons">
                    <span class="btn btn-theme"><i class="fa-light fa-gear"></i>Security </span>
                    <a class="btn-gray" asp-controller="Auth" asp-action="SignOut"><i class="fa-regular fa-user"></i><span>Sign out</span></a>
                </div>
            </div>
            <div class="row g-3 justify-content-md-center">
                <h5>Notifications</h5>
                <div class="col-md-12">
                    <label class="form-label fw-semibold">Notifications</label>
                    <span></span>
                    <input name="Email" class="form-control" type="text" placeholder="example@gmail.com">
                </div>
                <div class="col-md-12">
                    <input name="NewPassword" class="form-control" type="checkbox">
                    <label class="form-label fw-semibold">Subscribe to Newsletter</label>
                    <span>Nec, posuere non felis duis massa vitae aliquet interdum scelerisque. Neque ullamcorper.</span>
                </div>
                <div class="col-md-12">
                    <input name="NewPassword" class="form-control" type="checkbox">
                    <label class="form-label fw-semibold">Subscribe to Newsletter</label>
                    <span>Nec, posuere non felis duis massa vitae aliquet interdum scelerisque. Neque ullamcorper.</span>
                </div>
                <div class="col-12 submit-buttons text-center">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-gray fw-semibold">Cancel</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-theme">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@code {
    private ApplicationUser user { get; set; }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }


    private async Task LoadData()
    {
        user = await dbContext.Users.FindAsync();
    }
}
